---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
}

const { title = "Photography" } = Astro.props;
---

<BaseLayout title={title} mode="photography">
  <div class="max-w-full mx-auto px-6">
    <slot />
  </div>
</BaseLayout>
